// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$button-color: #f0c14b;
/* $button-border-color: #a88734 #9c7e31 #846a29; */
$button-hover-color: #e2a923;
$button-border-color: #a88734;
